{% extends 'base.html.twig' %}

{# Page d'édition d'un film existant. #}
{% block title %}Modifier un film{% endblock %}

{% block body %}
    <h1>Modifier un film</h1>

    {# On réutilise le formulaire partiel et on change le label du bouton. #}
    {{ include('movie/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_movie_index') }}">Retour à la liste</a>

    {# Le formulaire de suppression est inclus ici pour proposer la suppression. #}
    {{ include('movie/_delete_form.html.twig') }}
{% endblock %}
